@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 1140px;
  margin: 45.62px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  margin-top: 6.12px;
  height: 36.23px;
  display: flex;
  flex-direction: row;
}

.logo__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 6.12px;
  margin-left: 10px;
  color: #0b132a;
}

.header-menu {
  display: flex;
  flex-direction: row;
}

.header-account-menu {
  display: flex;
  flex-direction: row;
}

.header-menu__item {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-right: 40px;
  margin-top: 14px;
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  color: #4f5665;
}
.header-menu__item:hover {
  cursor: pointer;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-account-menu__item {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 14px;
}

.header-account-menu__item:hover {
  cursor: pointer;
}

.header-account-menu__item:last-child:hover {
  background: #f53855;
  color: #fff;
  transition-duration: 0.5s;
}

.header-account-menu__item:last-child {
  margin-left: 30px;
  margin-top: 0px;
  padding: 13px 45px;
  border: 1px solid #f53855;
  border-radius: 50px;
  transition-duration: 0.5s;
}

.header-account-menu__item--color_red {
  color: #f53855;
}

.hero {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  margin-top: 3.84px;
}

.hero-left {
  width: 555px;
  margin-top: 116px;
}

.hero-left__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

.hero-left__slogan {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
}

.hero-left__btn {
  width: 250px;
  height: 60px;
  margin-top: 50px;
  background: #f53838;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  box-shadow: 0 15px 15px rgba(245, 56, 56, 0.35);
  transition-duration: 0.5s;
}

.hero-left__btn:hover {
  cursor: pointer;
  box-shadow: none;
  transition-duration: 0.5s;
}

.company-info {
  margin-top: 103px;
  margin-left: 150px;
  width: 1140px;
  height: 200px;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(13, 16, 37, 0.06);
}

.company-info-item {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  width: 429px;
  height: 125.57px;
  border-right: 2px solid #eeeff2;
}

.company-info-item:first-child {
  width: 364px;
}

.company-info-item:last-child {
  width: 343px;
  border-right: none;
}

.company-info-item__img {
  height: 55px;
  width: 55px;
  background: #ffecec;
  border-radius: 70px;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  margin-left: 100px;
}

.company-info-item-text {
  margin-left: 36.5px;
}

.company-info-item-text__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.company-info-item-text__name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.text-block__head {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-top: 133.5px;
}

.text-block__slogan {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
  width: 555px;
  margin: 0 auto;
  margin-top: 20px;
}

.plan-menu {
  width: 1140px;
  margin-left: 150px;
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

.plan-menu-item {
  width: 330px;
  height: 760px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  transition-duration: 0.5s;
}

.plan-menu-item:hover {
  border: 2px solid #f53838;
  transition-duration: 0.5s;
}

.plan-menu-item:last-child {
  margin-right: 0;
}

.plan-menu-item-logo {
  margin: 0 auto;
  margin-top: 79.3px;
}

.plan-menu-item-logo__text {
  margin-top: 30px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plan-menu-item-list {
  margin: 0 auto;
  margin-top: 30px;
  padding: 0px;
  height: 230px;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.list-item__img {
  margin: auto 0;
  margin-right: 25.61px;
  height: 9.07px;
  width: 13.33px;
}

.list-item__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.plan-menu-item__price {
  margin: 0 auto;
  margin-top: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plan-menu-item__btn {
  margin: 0 auto;
  margin-top: 20px;
  width: 177.88px;
  height: 45px;
  border: 2px solid #f53838;
  border-radius: 50px;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  transition-duration: 0.5s;
  cursor: pointer;
}

.plan-menu-item:hover > .plan-menu-item__btn {
  background: #f53838;
  color: #ffffff;
  transition-duration: 0.5s;
}

.footer {
  margin-top: 97px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
}

.footer-company-info__logo {
  margin-top: 6.12px;
  height: 36.23px;
  display: flex;
  flex-direction: row;
}

.footer-company-info__description {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-top: 20px;
  width: 340px;
}

.footer-company-info-dots {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.dot {
  background: #f53838;
  height: 33.6px;
  width: 33.6px;
  border-radius: 70%;
  margin-right: 20px;
}

.dot:last-child {
  margin-right: 0;
}

.footer-company-info__copyright {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #afb5c0;
  margin-top: 30px;
}

.footer-product {
  margin-left: 230px;
}

.footer-engage {
  margin-left: 126px;
}

.footer-earn-money {
  margin-left: 126px;
}

.footer-product__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}
.footer-earn-money__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}
.footer-engage__header {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}
.footer-engage-list {
  margin-top: 20px;
  padding: 0;
}

.footer-engage-list__item {
  margin-bottom: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  list-style-type: none;
  cursor: pointer;
}
.footer-engage-list__item a {
  text-decoration: none;
  color: #4f5665;
}
.footer-earn-money-list {
  margin-top: 20px;
  padding: 0;
}

.footer-earn-money-list__item {
  margin-bottom: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  list-style-type: none;
  cursor: pointer;
}
.footer-earn-money-list__item a {
  text-decoration: none;
  color: #4f5665;
}
.footer-product-list {
  margin-top: 20px;
  padding: 0;
}

.footer-product-list__item {
  margin-bottom: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  list-style-type: none;
  cursor: pointer;
}
.footer-product-list__item a {
  text-decoration: none;
  color: #4f5665;
}
